<html>
    <head>
        <title>Final Project - Ansible Course</title>
    </head>
    <body>
        Name: {{ my_name }} <br>
        Group: {{ my_group }} <br>
        Date: May 31, 2021 <br>
        PC: {{ my_pc }} <br>
        <br><br>
        This Html page run under {{ ansible_os_family }} server.


    </body>
</html>