<VirtualHost *:80>
    ServerName {{ inventory_hostname }}
    ServerAlias www.{{ inventory_hostname }}
    ServerAdmin {{ my_email }}
    DocumentRoot  /var/www/html/{{ my_pc }}

    <Directory  /var/www/html/{{ my_pc }}>
        Options -Indexes +FollowSymLinks
        AllowOverride All
    </Directory>

    ErrorLog /var/log/httpd/{{my_pc}}-error.log
    CustomLog /var/log/httpd/{{my_pc}}-access.log combined
</VirtualHost>
